

//NOSOTROS
.img-nosotros{
    width: 35vw;
    height: auto;
}
.nosotros-main{
    display: flex;
    flex-direction: row;
}

.scroll-nosotros{
    overflow-x: hidden;
}




//breakpoints
@media (max-width:992px){
    .nosotros-main{
        flex-direction: column;
        justify-content: center;
    }
    .img-nosotros{
        width: 80vw;
        height: auto;
    }

}



//CONTACTO

//flex
.flex-contacto{
    @include flex(row,flex-start,center)
}



